@media screen and (max-width: 768px) {
  .nav-but-wrap {
    display: inline-block;
  }
  .nav {
    position: fixed;
    z-index: 98;
    left: 0;
    top: 0;
  }
  .nav:before, .nav:after {
    content: "";
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(20, 21, 26, 0.6);
    border-bottom-left-radius: 200%;
    z-index: -1;
    -webkit-transition: -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, border-radius linear 0.8s;
    transition: -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, border-radius linear 0.8s;
    transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, border-radius linear 0.8s;
    transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, border-radius linear 0.8s;
    -webkit-transform: translateX(100%) translateY(-100%);
    transform: translateX(100%) translateY(-100%);
  }
  .nav:after {
    background: rgb(9, 9, 12);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }
  .nav:before {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
  }
  .nav__content {
    position: fixed;
    visibility: hidden;
    top: 50%;
    margin-top: 20px;
    -webkit-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    width: 100%;
    text-align: center;
  }
  .nav__list {
    position: relative;
    padding: 0;
    margin: 0;
    z-index: 2;
  }
  .nav__list-item {
    position: relative;
    display: block;
    -webkit-transition-delay: 0.8s;
    transition-delay: 0.8s;
    opacity: 0;
    text-align: center;
    color: #fff;
    overflow: hidden;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    line-height: 1.15;
    letter-spacing: 3px;
    -webkit-transform: translate(100px, 0%);
    transform: translate(100px, 0%);
    -webkit-transition: opacity 0.2s ease, -webkit-transform 0.3s ease;
    transition: opacity 0.2s ease, -webkit-transform 0.3s ease;
    transition: opacity 0.2s ease, transform 0.3s ease;
    transition: opacity 0.2s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
    margin: 22px;
  }
  body.nav-active .nav__list-item:nth-child(1) {
    margin: 22px;
  }
  .nav__list-item a {
    font-family: "Poppins", sans-serif;
    position: relative;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    overflow: hidden;
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: 900;
    z-index: 2;
    display: inline-block;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
  }
  .nav__list-item a:after {
    position: absolute;
    content: "";
    top: 50%;
    margin-top: -2px;
    left: 50%;
    width: 0;
    height: 0;
    opacity: 0;
    background-color: #8167a9;
    z-index: 1;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    display: none;
  }
  .nav__list-item a:hover:after {
    height: 4px;
    opacity: 1;
    left: 0;
    width: 100%;
  }
  .nav__list-item a:hover {
    color: rgb(255, 255, 255);
  }
  .nav__list-item.active-nav a {
    color: rgb(255, 255, 255);
  }
  .nav__list-item.active-nav a:after {
    height: 4px;
    opacity: 1;
    left: 0;
    width: 100%;
  }
  header nav ul li:first-of-type .hover-target {
    font-size: 13px;
  }
  header nav ul li:last-of-type .hover-target:hover {
    color: black;
  }
  .logo {
    position: relative;
    z-index: 99;
  }
}

/*# sourceMappingURL=style_mobile.css.map */
